### Fragebogen auswerten
Mitarbeitende haben einen Fragebogen ausgefüllt, der die Zufriedenheit mit
der Arbeit, dem Lohn und einem internen Tool auf einer Skala von 1 bis 5 bewertet.
Manche Fragen wurden nicht beantwortet.

Wir wollen bei jeder Frage angeben, wieviele Antworten eingingen,
wieviele unglücklich sind (<= 2), wieviele glücklich sind (>= 4) sowie den Durchschnitt 
(leere Antworten werden nicht berücksichtigt).

Hier das Resultat der Umfrage als Tabelle.
```python
umfrage = [['Arbeit', 'Lohn', 'Tool'],
           ['2',      '3',    '3'],
           ['4',      '5',    '4'],
           ['4',      '',     '' ],
           ['',       '2',    '1'],
           ]

HAPPY = 4
UNHAPPY = 2
```
1. Speichere die erste Zeile von `umfrage` in einer Variable `fragen` und alle weiteren Zeilen in einer Variable `data` (siehe `loesungen.fragen` und `loesungen.data`). Erstelle dann aus der Liste `fragen` einen Dict `frage_idx`, der jeder Frage den Index zuordnet.  
`{'Arbeit': 0, 'Lohn': 1, 'Tool': 2}`
1. Erstelle eine Liste mit allen Antworten in der Spalte `'Lohn'`, ohne die
   leeren Antworten (`''`). Wandle alle Elemente der Liste in Integer um.  
   `[3, 5, 2]`
1. Schreibe eine Funktion `get_values(frage)`, die eine Liste mit den Zahlen in der entsprechenden Spalte als
   **Integer** zurück gibt und dabei leere Antworten (`''`) ignoriert.    
   Beispiel: `get_values('Arbeit') -> [2, 4, 4]`
1. Betrachte die Liste `values = [3, 2, 2, 5, 3, 4, 1, 4]`.
   Erstelle eine Liste mit den Werten aus `values`, die grösser gleich `HAPPY`
   sind und gib deren Länge aus.  
   `[5, 4, 4]`
1. Schreibe eine Funktion `summarize(values)`, die ein Tuple zurück gibt mit
    - Anzahl Werte,
    - Durchschnitt, gerundet auf eine Nachkommastelle,
    - Anzahl Werte, die grösser gleich `HAPPY` sind,
    - Anzahl Werte, die kleiner gleich `UNHAPPY` sind.
    
   Beispiel: `summarize(get_values('Arbeit')) -> (3, 3.3, 1, 2)`
1. Schreibe eine Funktion `get_results(table)`, die
   einen Dict zurück gibt. Die Schlüssel sind die Fragen und die Werte
   sind die Tuple `summarize(get_values(frage))`.  
   `get_results(umfrage)` liefert  
   `{'Arbeit': (3, 3.3, 2, 1), 'Lohn': (3, 3.3, 1, 1), 'Tool': (3, 2.7, 1, 1)}`

1. Das Resultat der Umfrage soll wie folgt dargestellt werden.
    ```   
    Kategorie|Anzahl|Mittel|happy|unhappy
    ---------|------|------|-----|-------
    Arbeit   |     3|   3.3|    2|      1
    Lohn     |     3|   3.3|    1|      1
    Tool     |     3|   2.7|    1|      1
    ```
    &nbsp;  
    Erstelle aus der Liste `headers = ['Kategorie', 'Anzahl', 'Mittel', 'happy', 'unhappy']`
    eine Liste mit den zugehörigen Wortlängen `[9, 6, 6, 5, 7]`.  
    Schreibe eine Funktion `get_line(frage, values, widths)`, die
    eine Zeile in obiger Tabelle als String liefert.
    Benutze die Stringmethoden `ljust` und `rjust` um rechts- bez. linksbündige Strings
    einer bestimmten Länge zu erstellen, und die Methode `join` um diese zusammenzufügen.  
     
    `get_line('Arbeit', (3, 3.3, 2, 1), [9, 6, 6, 5, 7])` liefert  
    ```
    'Arbeit   |     3|   3.3|    2|      1'
    ```

In [1]:
umfrage = [['Arbeit', 'Lohn', 'Tool'],
           ['2', '3', '3'],
           ['4', '5', '4'],
           ['4', '', ''],
           ['', '2', '1'],
           ]


HAPPY = 4
UNHAPPY = 2
values = [3, 2, 2, 5, 3, 4, 1, 4]
headers = ['Kategorie', 'Anzahl', 'Mittel   ', 'happy', 'unhappy']

In [4]:
#1
fragen = umfrage[0]
data = umfrage[1:]
frage_idx = {frage: i for i, frage in enumerate(fragen)}
frage_idx

{'Arbeit': 0, 'Lohn': 1, 'Tool': 2}

In [5]:
#2
frage = 'Lohn'
idx = frage_idx['Lohn']

antworten = []
for row in data:
    antwort = row[idx]
    if antwort != '':
        antworten.append(int(antwort))

antworten

[3, 5, 2]

In [6]:
#3
def get_values(frage):
    values = []
    idx = frage_idx[frage]
    for row in data:
        value = row[idx]
        if value != '':
            values.append(int(value))
    return values

In [7]:
get_values('Arbeit')

[2, 4, 4]

In [8]:
#4
happy_values = [v for v in values if v >= HAPPY]
print(len(happy_values))
happy_values

3

[5, 4, 4]

In [9]:
#5
def summarize(values):
    n = len(values)
    avg = round(sum(values) / n, 1)
    n_happy = len([v for v in values if v >= HAPPY])
    n_unhappy = len([v for v in values if v <= UNHAPPY])
    return n, avg, n_happy, n_unhappy

In [10]:
summarize(get_values('Arbeit'))

(3, 3.3, 2, 1)

In [11]:
#6
def get_results(table):
    results = {frage: summarize(get_values(frage)) for frage in frage_idx}
    return results

In [12]:
results = get_results(umfrage)
results

{'Arbeit': (3, 3.3, 2, 1), 'Lohn': (3, 3.3, 1, 1), 'Tool': (3, 2.7, 1, 1)}

In [13]:
#7
def get_line(frage, values, widths):
    entries = [frage.ljust(widths[0])]
    for v, width in zip(values, widths[1:]):
        entries.append(str(v).rjust(width))
    line = '|'.join(entries)
    return line

In [14]:
widths = [len(header) for header in headers]
get_line('Arbeit', (3, 3.3, 2, 1), widths)

'Arbeit   |     3|      3.3|    2|      1'

In [15]:
print('|'.join(headers))
print('|'.join('-'*len(h) for h in headers))

for frage, values in results.items():
    print(get_line(frage, values, widths))

Kategorie|Anzahl|Mittel   |happy|unhappy
---------|------|---------|-----|-------
Arbeit   |     3|      3.3|    2|      1
Lohn     |     3|      3.3|    1|      1
Tool     |     3|      2.7|    1|      1

In [16]:
def show_results(umfrage):
    widths = [len(header) for header in headers]
    print('|'.join(headers))
    print('|'.join('-'*len(h) for h in headers))

    for frage, values in results.items():
        print(get_line(frage, values, widths))

In [42]:
show_results(umfrage)

Kategorie|Anzahl|Mittel|happy|unhappy
---------|------|------|-----|-------
Arbeit   |     3|   3.3|    2|      1
Lohn     |     3|   3.3|    1|      1
Tool     |     3|   2.7|    1|      1