### String Manipulations

In [ ]:
result = ()
s = 'abcdef'
n = len(s)
i = 0

while i < n:
    t = s[i:] + s[:i]
    result = result + (t,)
    i = i + 1

result

In [ ]:
def get_table(lines, indices):
    '''lines: str (Zeilen kommaseparierter Werte)
       indices: tuple[int]
       gibt eine Tabelle mit den Spaltennummern indices zurueck
    '''
    result = []
    for line in lines:
        items = line.split(',')
        person = tuple(items[i] for i in indices)
        result.append(person)
    return result

In [ ]:
lines = (
    '1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer',
    '2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist',
    '3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath',
    '4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher',
    '5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon',
    '6,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,2015-10-28,Waste management officer',
    '7,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,1989-01-22,Intelligence analyst',
    '8,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,1924-03-26,Hydrogeologist',
    '9,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,2018-10-06,Lawyer',
)

In [ ]:
indices = (2, 4, 6)
get_table(lines, indices)

In [ ]:
line = 'Anna, Bob, Carl'

In [ ]:
i = 4
line[i]

In [ ]:
line[:i]

In [ ]:
line = line[i+1:]
line

In [ ]:
line = 'Anna, Bob, Carl'
n = len(line)
print(f'line ist ein String der Laenge {n}')

In [ ]:
line = 'Anna, Bob, Carl'
n = len(line)
i = 0

if i < 0 or i > n:
    print(f'{i} line hat kein {i}-tes Zeichen')
else:
    print(f'das {i}-te Zeichen von line ist "{line[i]}"')

In [ ]:
line = 'Anna, Bob, Carl'
SEP = ','
n = len(line)
i = 4

if i < 0 or i > n:
    print(f'{i} line hat kein {i}-tes Zeichen')
elif line[i] == SEP:
    print(f'das {i}-te Zeichen das Trennzeichen')
else:
    print(f'das {i}-te Zeichen von line ist "{line[i]}"')

In [ ]:
line = 'Anna, Bob, Carl'
SEP = ','
i = 0
n = len(line)


while line[i] != SEP:
    i = i + 1
print(f'Erstes Trennzeichen ist an Position {i}')
head = line[:i]
tail = line[i+1:]
print(f'Head: {head}: Tail: {tail}')

In [ ]:
line = 'Anna'
SEP = ','

if line[-1] != SEP:
    line = line + SEP
    print('Trennzeichen hinzugefuegt', line)

In [ ]:
def get_head_and_tail(line, sep):
    if line[-1] != SEP:
        line = line + SEP
        print('Trennzeichen hinzugefuegt', line)
    n = len(line)
    i = 0
    while i < n and line[i] != SEP:
        i = i + 1
    head = line[:i]
    tail = line[i+1:]
    return (head, tail)

In [ ]:
line = ('Anna, Bob')
get_head_and_tail(line, SEP)

In [ ]:
head_and_tail = get_head_and_tail(line, SEP)
head = head_and_tail[0]
tail = head_and_tail[1]
print(f'Head: {head}, Tail; {tail}')

In [ ]:
line = '12, 234, 45, 45'
SEP = ','
zahlen = ()
while len(line) > 0:
    head_and_tail = get_head_and_tail(line, SEP)
    head = head_and_tail[0]
    line = head_and_tail[1]
    zahlen = zahlen + (head,)

zahlen

In [ ]:
line = '12, 234, 45, 45'
SEP = ','
zahlen = ()
while len(line) > 0:
    head_and_tail = get_head_and_tail(line, SEP)
    head = head_and_tail[0]
    line = head_and_tail[1]
    zahlen = zahlen + (int(head),)

zahlen

In [ ]:
line = '12, 234, 45, 45'
SEP = ','
items = ()
while len(line) > 0:
    head_and_tail = get_head_and_tail(line, SEP)
    head = head_and_tail[0]
    line = head_and_tail[1]
    items = items + (head,)

items

In [ ]:
def split(line, sep):
    items = ()
    while len(line) > 0:
        head_and_tail = get_head_and_tail(line, SEP)
        head = head_and_tail[0]
        line = head_and_tail[1]
        items = items + (head,)

    return items

In [ ]:
line = 'Anna, Bob, Carl, Daniel'
SEP = ','
split(line, SEP)