### Aufgaben zu Anwendung von split mit Lösungen
1. Sondere aus obiger Tabelle `persons` alle Personen aus, deren Email auf
`.net` endet (d.h. erstelle ein Tupel mit diesen Personen).  
Scheibe dann eine Funktion, `select_with_suffix(table, idx_col, suffix)`,
die aus einer Tabelle alle Zeilen aussondert, deren Kolonne mit Index `idx_col` auf `suffix` endet, und eine  Funktion, `select_with_prefix(table, idx_col, prefix)`,
die alle Zeilen aussondert, deren Kolonne mit Index `idx_col` mit `prefix` beginnt.

1. Statt einer Tabelle mit Vorname, Name und Email wollen wir eine
   Tabelle mit einer anpassbaren Auswahl an Kolonnen aus
   *Index*, *User Id*, *First Name*, *Last Name*, *Sex*, *Email*, *Phone*, *Date of birth* und *Job Title*. Die Auswahl soll mit einem Tupel von Indices festgelegt werden können,
   z.B. `(0, 2, 3)` steht für *Index*, *First Name* und *Last Name*.  
    1. Schreibe zuerst eine Funktion `get_idxs(items, indices)`, die
       aus einem Tuple `items` alle Elemente mit einem Index aus `indices` aussondert.
       ```python
          numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
          indices = (2, 5, 8)
          get_idxs(numbers, indices)  # -> (2, 5, 8)
       ```

    1. Schreibe dann eine Funktion `get_table(lines, indices)`, die
       aus Zeilen kommaseparierter Werte eine Tabelle mit den
       im Tupel `indices` festgelegten Spalten erstellt.

In [ ]:
# Data
persons = (('Shelby', 'Terrell', 'elijah57@example.net'),
           ('Phillip', 'Summers', 'bethany14@example.com'),
           ('Kristine', 'Travis', 'bthompson@example.com'),
           ('Yesenia', 'Martinez', 'kaitlinkaiser@example.com'),
           ('Lori', 'Todd', 'buchananmanuel@example.net'),
           ('Erin', 'Day', 'tconner@example.org'),
           ('Katherine', 'Buck', 'conniecowan@example.com'),
           ('Ricardo', 'Hinton', 'wyattbishop@example.com'),
           ('Dave', 'Farrell', 'nmccann@example.net'),
           )


# Zeilen mit den Werten
# Index (0), User Id (1), First Name (2), Last Name (3), Sex (4), Email (5), Phone (6), Date of birth (6), Job Title (7)
lines = (
    '1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer',
    '2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist',
    '3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath',
    '4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher',
    '5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon',
    '6,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,2015-10-28,Waste management officer',
    '7,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,1989-01-22,Intelligence analyst',
    '8,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,1924-03-26,Hydrogeologist',
    '9,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,2018-10-06,Lawyer',
)

In [ ]:
email = 'example.net'
email[-4:]  # die 4 letzten Buchstaben

In [ ]:
# 1a alle Emails und Emaildomains ausgeben
n = len(persons)

i = 0
while i < n:
    person = persons[i]
    email = person[2]
    print(f'Email: {email}, suffix: {email[-4:]}')
    i = i + 1

In [ ]:
# 1b alle .net Emails und Emaildomains ausgeben
n = len(persons)

i = 0
while i < n:
    person = persons[i]
    email = person[2]
    if email[-4:] == '.net':
        print(f'Email: {email}, suffix: {email[-4:]}')
    i = i + 1

In [ ]:
# 1c Personen mit .net Email aussondern und im Tupel result speichern
result = ()
n = len(persons)

i = 0
while i < n:
    person = persons[i]
    email = person[2]  #
    if email[-4:] == '.net':
        result = result + (person,)
    i = i + 1

result

In [ ]:
# 2a
def select_with_suffix(table, idx_col, suffix):
    '''table: tuple[tuple[str,...]]
       idx_col: tuple[int,...]
       suffix: str
       gibt alle Zeilen zurueck, deren Spalte idx_col auf suffix endet
    '''
    result = ()
    n = len(table)

    i = 0
    while i < n:
        row = table[i]
        col = row[idx_col]
        if col[-len(suffix):] == suffix:
            result = result + (row,)
        i = i + 1

    return result

In [ ]:
select_with_suffix(persons, 2, '.com')

In [ ]:
# 2b
def select_with_prefix(table, idx_col, prefix):
    '''table: tuple[tuple[str,...]]
       idx_col: tuple[int,...]
       suffix: str
       gibt alle Zeilen zurueck, deren Spalte idx_col auf suffix endet
    '''
    result = ()
    n = len(table)

    i = 0
    while i < n:
        row = table[i]
        col = row[idx_col]
        if col[:len(prefix)] == prefix:
            result = result + (row,)
        i = i + 1

    return result

In [ ]:
select_with_prefix(persons, 1, 'To')

In [ ]:
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
indices = (2, 5, 7)

In [ ]:
# 3a Zahlen, die an Positionen in indices stehen in tuple speichern
result = ()
n = len(indices)
i = 0

while i < n:
    idx = indices[i]
    print(f'Fuege Element mit Index {idx} zu result hinzu')
    result = result + (numbers[idx],)
    i = i + 1
result

In [ ]:
def get_idxs(items, indices):
    '''items: tuple
       indices: tuple[int]
       returns the tuple (items[i] for i in indices)
    '''
    result = ()
    n = len(indices)
    i = 0
    while i < n:
        idx = indices[i]
        result = result + (items[idx],)
        i = i + 1
    return result

In [ ]:
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
indices = (1, 2, 3, 6)
get_idxs(numbers, indices)

In [ ]:
from split import split

In [ ]:
line = lines[0]
split(line, ',')

In [ ]:
# 3b)
def get_table(lines, indices):
    '''lines: str (Zeilen kommaseparierter Werte)
       indices: tuple[int]
       gibt eine Tabelle mit den Spaltennummern indices zurueck
    '''
    result = ()
    n = len(lines)
    i = 0

    while i < n:
        line = lines[i]
        person = split(line, ',')
        person = get_idxs(person, indices)
        result = result + (person,)
        i = i + 1

    return result

In [ ]:
indices = (2, 4, 8)
get_table(lines, indices)