### Anwendung
Jede Zeile des Files `persons.txt` enth채lt,
getrennt durch ein Komma, folgende Angaben zu einer Person:  
Index, User Id, First Name, Last Name, Sex, Email, Phone, Date of birth, Job Title  

Ziel ist es, daraus ein Tupel zu erstellen.
```python
(('Shelby', 'Terrell', 'elijah57@example.net'),
 ('Phillip', 'Summers', 'bethany14@example.com'),
 ('Kristine', 'Travis', 'bthompson@example.com'),
 ('Yesenia', 'Martinez', 'kaitlinkaiser@example.com'),
 ('Lori', 'Todd', 'buchananmanuel@example.net'),
 ('Erin', 'Day', 'tconner@example.org'),
 ('Katherine', 'Buck', 'conniecowan@example.com'),
 ('Ricardo', 'Hinton', 'wyattbishop@example.com'),
 ('Dave', 'Farrell', 'nmccann@example.net'),
)
```
Jedes Tupel ist selber ein Tupel bestehend aus Vorname, Name und Email.  

**Vorgehen**:
- Erstelle einen String mit dem Inhalt des Files `personen.txt`.
  Achte darauf, keine zus채tzlichen Zeilenumbr체che einzuf체gen.
- Benutze unsere Funktion `split`, um diesen String in die einzelnen Zeilen zu splitten (splitte beim Zeilenumbruchzeichen `\n`).
- Splitte nun jede Zeile beim Komma und greife Vornamen, Namen und Email heraus.

In [ ]:
persons = '''\
1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
6,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,2015-10-28,Waste management officer
7,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,1989-01-22,Intelligence analyst
8,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,1924-03-26,Hydrogeologist
9,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,2018-10-06,Lawyer\
'''

In [ ]:
from split import split

In [ ]:
lines = split(persons, '\n')
len(lines)

In [ ]:
lines[0], lines[-1]  # erste und letzte Zeile

In [ ]:
# Einige Angaben zu den Personen ausgeben
n = len(lines)
i = 0

while i < n:
    line = lines[i]
    person = split(line, ',')
    print(person[2:6])
    i = i + 1

In [ ]:
# gewuenschtes Tupel erstellen
persons = ()
n = len(lines)
i = 0

while i < n:
    line = lines[i]
    person = split(line, ',')
    fname, lname, sex, email = person[2:6]
    p = (fname, lname, email)
    persons = persons + (p,)
    i = i + 1

persons

### Aufgabe
Sondere aus dem Tupel `persons` alle Personen aus, deren Email auf
`.net` endet.
Speichere diese Personen in einem Tupel `persons_net`.

In [49]:
persons_net = ()
n = len(persons)

i = 0
while i < n:
    person = persons[i]
    email = person[2]
    if email[-4:] == '.net':
        persons_net = persons_net + (person,)
    i = i + 1

persons_net

(('Shelby', 'Terrell', 'elijah57@example.net'),
 ('Lori', 'Todd', 'buchananmanuel@example.net'),
 ('Dave', 'Farrell', 'nmccann@example.net'))