### Strings und Tupels
Strings und Tupels sind immutable (unveränderlich).
Aber wird können aus bestehenden Strings (Tuples) einfach neue Strings (Tupels) konstruieren. Nachstehend nennen wir die Zeichen eines Strings auch Elemente.
- Länge: `len(s)`
- Zusammenhängen: `s + t`
- Vervielfachen: `s * 3`
- String/Tupel der Länge 1 erstellen:
  `s[0]` (erstes Element), `s[-1]` (letztes Element)
- Teilstring/tupel erstellen:  
  `s[start:stop]` (von `start` bis vor `stop`)  
  `s[:3]` (die ersten 3 Elemente), `s[-3:]` (die letzten 3 Elemente)

**Tuple auspacken (unpacking)**: 
```python
pt = (1, 2, 3)
x, y, z = point  # ok, falls Länge von pt gleich der Anzahl Variabeln
                 # x = 1 und y = 2 und z = 3                   
```

In [ ]:
# Tuple auspacken
pt = (1, 2, 3)  # was, falls nur 2, oder mehr als 3 Werte?
x, y, z = pt
print(f'x: {x}, y: {y}, z: {z}')

In [ ]:
s = '0123456789'
s[2:5]

In [ ]:
word = 'Vorbereitung'
prefix = 'Vor'
suffix = 'ung'
word[:len(prefix)] == prefix

In [ ]:
word[-len(suffix):] == suffix

### String splitten
Gegeben sei ein String mit durch Komma getrennten Werten, wie z.B.
```python
names = '  Anna, Bob, Carl'
```
Ziel ist es, daraus ein Tuple
```python
('Anna', 'Bob', 'Carl')
```
zu machen.  
**Vorgehen**: Wiederhole bis `names` der leere String wird:
- Finde den Index des ersten Kommas (oder Ende des Strings) -> stop
- Finde den Index des ersten von SPACE verschiedenen Zeichen -> start
- `names[start:stop]` ist der erste Name im String und ein (weiteres) Element des Tupels
- `names = names[stop+1:]` sind die restlichen Namen.

In [ ]:
names = 'Anna, Bob, Carl'

In [ ]:
start = 0  # Index von 'A'
stop = 4  # Index von ','
name1 = names[start:stop]
name1

In [ ]:
names1 = names[stop+1:]  # Index von 1. Zeichen nach ','
names1

In [ ]:
# greife die verbleibenden Namen heraus

### Erstes Vorkommen eines Zeichens in einem Wort finden
Falls wir wissen, dass das Zeichen im Wort vorkommt:
```python
zeichen = ','
i = 0
while word[i] != zeichen:
    i = i + i
```
Die Variable `i` enthält nun den Index des ersten Vorkommens des Zeichens. 

Falls wir nicht wissen, ob das Zeichen im Wort vorkommt:
```python
zeichen = ','
n = len(word)
i = 0
while i < n and word[i] != zeichen:
    i = i + i
```
Die Variable `i` enthält nun den Index des ersten Vorkommens des Zeichens oder ist gleich
der Länge von `word`.

In [ ]:
text = 'Anna, Bob'
SEP = ','

i = 0
while text[i] != SEP:  # ok, falls SEP in s vorkommt
    i = i + 1
print(f'Erstes Vorkommen von "{SEP}": {i}')

In [ ]:
# Erzeugt Fehler (wieso?). Fix it!
text = 'Anna'
SEP = ','

i = 0
while text[i] != SEP:
    i = i + 1
print(f'Erstes Vorkommen von "{SEP}": {i}')

In [ ]:
def get_idx(s, sep):
    '''s: String
       gibt den Index des Zeichen sep in s zurueck, oder len(s)
    '''
    ...

### Erstes non-SPACE Zeichen in Wort finden
Falls wir wissen, dass das Wort solche Zeichen enthält:
```python
SPACE = ' '
i = 0
while word[i] == SPACE:
    i = i + i
```
Die Variable `i` enthält nun den Index des ersten non-SPACE Zeichens. 

Falls wir nicht wissen, ob solche Zeichen im Wort vorkommen:
```python
SPACE = ' '
n = len(word)
i = 0
while i < n and word[i] == SPACE:
    i = i + i
```
Die Variable `i` enthält nun den Index des ersten non-SPACE Zeichens oder ist gleich
der Länge von `word`.

In [ ]:
def get_start(s):
    '''s: str
       gib Index des 1. non-SPACE Zeichens zurueck, oder len(s)
    '''
    ...

### Zerlege ein Wort in ein Tuple `(head, tail)`
- `head` soll der Teil vom ersten non-SPACE Zeichen bis zum Komma sein.
- `tail` soll der Teil nach dem Komma sein.

```python
names = 'Anna, Bob, Carl'
SEP = ','

start = get_start(names)
stop = get_idx(names, SEP)

head = names[start:stop]
tail = names[stop+1:]
```

In [ ]:
def get_head_tail(s, sep):
    '''s: String
       gibt ein Tuple (head, tail) zurueck
       head: Teil vom ersten non-SPACE Zeichen bis zum Komma
       tail: Teil nach dem Komma
    '''
    ...
    return head, tail

In [ ]:
def split(s, sep):
    '''s: str (kommaseparierte Werte)
       gibt ein Tupel mit den Werten zurueck
    '''
    names = ()
    while s:
        ...
    return names

In [ ]:
line = 'Anna, Bob, Carl'

In [ ]:
i = 4
line[i]

In [ ]:
line[:i]

In [ ]:
line = line[i+1:]
line

In [ ]:
line = 'Anna, Bob, Carl'
n = len(line)
print(f'line ist ein String der Laenge {n}')

In [ ]:
line = 'Anna, Bob, Carl'
n = len(line)
i = 0

if i < 0 or i > n:
    print(f'{i} line hat kein {i}-tes Zeichen')
else:
    print(f'das {i}-te Zeichen von line ist "{line[i]}"')

In [ ]:
line = 'Anna, Bob, Carl'
SEP = ','
n = len(line)
i = 4

if i < 0 or i > n:
    print(f'{i} line hat kein {i}-tes Zeichen')
elif line[i] == SEP:
    print(f'das {i}-te Zeichen das Trennzeichen')
else:
    print(f'das {i}-te Zeichen von line ist "{line[i]}"')

In [ ]:
line = 'Anna, Bob, Carl'
SEP = ','
i = 0
n = len(line)


while line[i] != SEP:
    i = i + 1
print(f'Erstes Trennzeichen ist an Position {i}')
head = line[:i]
tail = line[i+1:]
print(f'Head: {head}: Tail: {tail}')

In [ ]:
line = 'Anna'
SEP = ','

if line[-1] != SEP:
    line = line + SEP
    print('Trennzeichen hinzugefuegt', line)

In [ ]:
def get_head_and_tail(line, sep):
    if line[-1] != SEP:
        line = line + SEP
        print('Trennzeichen hinzugefuegt', line)
    n = len(line)
    i = 0
    while i < n and line[i] != SEP:
        i = i + 1
    head = line[:i]
    tail = line[i+1:]
    return (head, tail)

In [ ]:
line = ('Anna, Bob')
get_head_and_tail(line, SEP)

In [ ]:
head_and_tail = get_head_and_tail(line, SEP)
head = head_and_tail[0]
tail = head_and_tail[1]
print(f'Head: {head}, Tail; {tail}')

In [ ]:
line = '12, 234, 45, 45'
SEP = ','
zahlen = ()
while len(line) > 0:
    head_and_tail = get_head_and_tail(line, SEP)
    head = head_and_tail[0]
    line = head_and_tail[1]
    zahlen = zahlen + (head,)

zahlen

In [ ]:
line = '12, 234, 45, 45'
SEP = ','
zahlen = ()
while len(line) > 0:
    head_and_tail = get_head_and_tail(line, SEP)
    head = head_and_tail[0]
    line = head_and_tail[1]
    zahlen = zahlen + (int(head),)

zahlen

In [ ]:
line = '12, 234, 45, 45'
SEP = ','
items = ()
while len(line) > 0:
    head_and_tail = get_head_and_tail(line, SEP)
    head = head_and_tail[0]
    line = head_and_tail[1]
    items = items + (head,)

items

In [ ]:
def split(line, sep):
    items = ()
    while len(line) > 0:
        head_and_tail = get_head_and_tail(line, SEP)
        head = head_and_tail[0]
        line = head_and_tail[1]
        items = items + (head,)

    return items

In [ ]:
line = 'Anna, Bob, Carl, Daniel'
SEP = ','
split(line, SEP)