### Strings und Tupels
Strings und Tupels sind immutable (unveränderlich).
Aber wird können aus bestehenden Strings (Tuples) einfach neue Strings (Tupels) konstruieren. Nachstehend nennen wir die Zeichen eines Strings auch Elemente.
- Länge: `len(s)`
- Zusammenhängen: `s + t`
- Vervielfachen: `s * 3`
- String/Tupel der Länge 1 erstellen:
  `s[0]` (erstes Element), `s[-1]` (letztes Element)
- Teilstring/tupel erstellen:  
  `s[start:stop]` (von `start` bis vor `stop`)  
  `s[:3]` (die ersten 3 Elemente), `s[-3:]` (die letzten 3 Elemente)

**Tuple auspacken (unpacking)**: 
```python
pt = (1, 2, 3)
x, y, z = point  # ok, falls Länge von pt gleich der Anzahl Variabeln
```

In [ ]:
# Tuple auspacken
pt = (1, 2, 3)  # was, falls nur 2, oder mehr als 3 Werte?
x, y, z = pt
print(f'x: {x}, y: {y}, z: {z}')

In [ ]:
s = '0123456789'
s[2:5]

### String splitten
Gegeben sei ein String mit durch Komma getrennten Werten, wie z.B.
```python
names = '  Anna, Bob, Carl'
```
Ziel ist es, daraus ein Tuple
```python
('Anna', 'Bob', 'Carl')
```
zu machen.  
**Vorgehen**: Wiederhole bis `names` der leere String wird:
- Finde den Index des ersten von SPACE verschiedenen Zeichen -> start
- Finde den Index des ersten Kommas (oder Ende des Strings) -> stop
- `names[start:stop]` ist ein (weiteres) Element des Tupels
- `names = names[stop+1:]` sind die restlichen Namen.

In [ ]:
names = 'Anna, Bob, Carl'

In [ ]:
start = 4
name1 = names[:start]
name1

In [ ]:
names1 = names[start+1:]
names1

In [ ]:
# greife die verbleibenden Namen heraus
name2 = names1[1:4]
name2

In [ ]:
names2 = names1[4+1:]
names2

In [ ]:
names2[1:]

### Erstes Vorkommen eines Zeichens in einem Wort finden
Falls wir wissen, dass das Zeichen im Wort vorkommt:
```python
i = 0
while word[i] != zeichen:
    i = i + i
```
Die Variable `i` enthält nun den Index des ersten Vorkommens des Zeichens. 

Falls wir nicht wissen, ob das Zeichen im Wort vorkommt:
```python
n = len(word)
i = 0
while i < n and word[i] != zeichen:
    i = i + i
```

In [ ]:
line = 'Anna'
SEP = ','

n = len(line)
i = 0

while i < n and line[i] != SEP:
    i = i + 1
print(f'Erstes Vorkommen von "{SEP}": {i}')

In [ ]:
def get_idx(s, sep):
    '''s: String
       gibt den Index des Zeichen sep in s zurueck, oder len(s)
    '''
    i = 0
    n = len(s)
    while i < n and s[i] != sep:
        i = i + 1
    return i

In [ ]:
names = 'Anna, Bob'
SEP = ','
get_idx(names, SEP)

### Erstes non-SPACE Zeichen in Wort finden
Falls wir wissen, dass das Wort solche Zeichen enthält:
```python
i = 0
while word[i] == zeichen:
    i = i + i
```
Die Variable `i` enthält nun den Index des ersten non-SPACE Zeichens. 

Falls wir nicht wissen, ob solche Zeichen im Wort vorkommen:
```python
n = len(word)
i = 0
while i < n and word[i] == zeichen:
    i = i + i
```

In [ ]:
def get_start(s):
    '''s: str
       gib Index des 1. non-SPACE zeichen zurueck, oder len(s)
    '''
    SPACE = ' '
    n = len(s)
    i = 0
    while i < n and s[i] == SPACE:
        i = i + 1
    return i

In [ ]:
line = '  Anna, Bob, Carl'
get_start(line)

### Zerlege ein Wort in ein Tuple `(head, tail)`
- `head` soll der Teil vom ersten non-SPACE Zeichen bis zum Komma sein.
- `tail` soll der Teil nach dem Komma sein.

```python
names = 'Anna, Bob, Carl'
SEP = ','

start = get_start(line)
stop = get_idx(line, SEP)

head = names[start:stop]
tail = names[stop+1:]
```

In [ ]:
def get_head_tail(s, sep):
    '''s: String
       gibt ein Tuple (head, tail) zurueck
       head: Teil vom ersten non-SPACE Zeichen bis zum Komma
       tail: Teil nach dem Komma
    '''
    start = get_start(s)
    stop = get_idx(s, sep)

    head = s[start:stop]
    tail = s[stop+1:]
    return head, tail

In [ ]:
names = '  Anna, Bob, Carl'
SEP = ','
get_head_tail(names, SEP)

In [18]:
def split(s, sep):
    '''s: str (kommaseparierte Werte)
       gibt ein Tupel mit den Werten zurueck
    '''
    values = ()
    while s:
        value, s = get_head_tail(s, sep)
        values = values + (value,)
    return values

In [19]:
names = '  Anna, Bob, Carl'
SEP = ','
split(names, SEP)

('Anna', 'Bob', 'Carl')