### Rechnen mit Strings
1. Verwandle ein Tuple mit Zahlen in einen String und schneide die Klammern an Anfang und Ende weg.  
   `(1, 2, 3) -> '1 2 3'` 
1. Schreibe eine Funktion `align(s, t, char)`, die an den String `t` vorne und hinten Space anhängt, so
   das und die Strings `s` und `t` gleich lang sind und der
   Anfang von `t` mit dem Zeichen `char` in `s` zusammenfällt.
   ```python
   
   '| xxx'         # t
   'foo | yyyyy  ' # s         
   '    | xxx    ' # align(s, t, '|')
   ```

In [131]:
xs = (1, 2, 3)
str(xs)[1:-1]

'1, 2, 3'

In [132]:
def align(s, t, char):
    n = len(s)
    m = len(t)
    i = s.index(char)
    return ' '*i + t + ' '*(n - i - m)

In [133]:
s = 'foo | bar          '
t = '| baz'
r = align(s, t, '|')

print(s)
print(r)
len(s) == len(r)

foo | bar
    | baz

True

In [134]:
fragen = ['Arbeit', 'Lohn', 'Tool']
results = [(3, 1, 2, 3.3), (3, 1, 1, 3.3), (3, 1, 1, 2.7)]

In [135]:
headers = [frage + ' (N, H, U, D  )' for frage in fragen]
headers

['Arbeit (N, H, U, D  )', 'Lohn (N, H, U, D  )', 'Tool (N, H, U, D  )']

In [138]:
entries = [align(frage, str(result)[1:-1], 'N') for result, frage in zip(results, headers)]
entries

['        3, 1, 2, 3.3 ', '      3, 1, 1, 3.3 ', '      3, 1, 1, 2.7 ']

### Resultate formatiert ausgeben
Die Auswertung eines Fragebogens zur Zufriednheit mit Arbeit, Lohn und einem internen Tool
ergab folgende Resultate.
```python
fragen = ['Arbeit', 'Lohn', 'Tool']
results = [(3, 1, 2, 3.3), (3, 1, 1, 3.3), (3, 1, 1, 2.7)]
```

Den Elementen eines Tuples in `results` kommen diese Bedeutungen zu:  
(Anzahl Werte (N), Anzahl happy (H), Anzahl unhappy  (U), Durchschnitt(D)).

Ziel ist es, diese Informationen wie unten gezeigt darzustellen.

```
Arbeit (N, H, U, D  ) | Lohn (N, H, U, D  ) | Tool (N, H, U, D  )
--------------------- | ------------------- | -------------------
        3, 1, 2, 3.3  |       3, 1, 1, 3.3  |       3, 1, 1, 2.7 
```


1. Schreibe eine Funktion `get_col(frage, result)`, die ein Tuple mit 3 Strings der gleichen Länge liefert:
   Den String `frage + ' (N, H, U, D  )'`, einen String, der nur einige `'-'` enthält und
   das nach `'N'` ausgerichtete Resultat.
   ```python
   
   'Lohn (N, H, U, D  )'  # 1. String
   '-------------------'  # 2. String
   '      3, 1, 1, 3.3 '  # 3. String     
    
   ```

1. Erstellen eine Liste mit den Kolonnen.
1. Schreibe eine Funktion `show_result(fragen, results)`, die den gewünschten Output produziert.

In [125]:
xs = (1, 2, 3)
str(xs)[1:-1]

'1, 2, 3'

In [122]:
def align(s, t, char):
    n = len(s)
    m = len(t)
    i = s.index(char)
    return ' '*i + t + ' '*(n - i - m)

In [123]:
s = 'foo | bar          '
t = '| baz'
r = align(s, t, '|')

print(s)
print(r)
len(s) == len(r)

foo | bar
    | baz

True

In [ ]:
fragen = ['Arbeit', 'Lohn', 'Tool']
results = [(3, 1, 2, 3.3), (3, 1, 1, 3.3), (3, 1, 1, 2.7)]

In [ ]:
def get_col(frage, result):
    header = frage + ' (N, H, U, D  )'
    s = str(result)[1:-1]
    hline = '-' * len(header)
    entry = align(header, s, 'N')

    return header, hline, entry

In [ ]:
header, hline, entry = get_col(fragen[1], results[1])

print(header)
print(hline)
print(entry)

In [ ]:
columns = [get_col(f, r) for f, r in zip(fragen, results)]
' | '.join([col[0] for col in columns])

In [ ]:
for i in range(3):
    line = ' | '.join([col[i] for col in columns])
    print(line)

In [129]:
def show_result(fragen, results):
    columns = [get_col(f, r) for f, r in zip(fragen, results)]
    for i in range(3):
        line = ' | '.join([col[i] for col in columns])
        print(line)

In [ ]:
def show_result(fragen, results):
    columns = [get_col(f, r) for f, r in zip(fragen, results)]
    for i in range(3):
        line = ' | '.join([col[i] for col in columns])
        print(line)

In [130]:
show_result(fragen, results)

Arbeit (N, H, U, D  ) | Lohn (N, H, U, D  ) | Tool (N, H, U, D  )
--------------------- | ------------------- | -------------------
        3, 1, 2, 3.3  |       3, 1, 1, 3.3  |       3, 1, 1, 2.7